:root {
    --border-color: #dae2f3;
    --blue: #4a69bd;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
}

strong {
    font-weight: 600;
}

.page {
    height: 100vh;
}

.container {
    padding: 0 30%;
}
