:root {
    --white: #ffffff;
    --light-grey: #e6e6e7;
    --grey: #969696;
    --light-blueD: #dae2f3;
    --light-blueB: #b5c4e6;
    --blue6: #6489cc;
    --blue4: #4a69bd;
    --dark-blue: #25355f;
    --dark: #131b30;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
}

strong {
    font-weight: 600;
}

.page {
    height: 100vh;
}

.container {
    padding: 0 30%;
}

.threads {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
