.counters {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.counters .counter {
    display: flex;
    gap: 6px;
    font-family: "JetBrains Mono", sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: var(--blue6);
}

.counters .counter .text {
    width: 2ch;
    text-align: right;
    user-select: none;
}

.counters .counter .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1ch;
}
