/* Modal */
.modal {
    position: fixed;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    font-weight: normal;
}

.modal .modal__overlay {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.modal .modal__box {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0 10%;
    padding: 30px 50px 35px 50px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: var(--white);
    cursor: auto;
}

.modal .modal__box .modal__close {
    position: absolute;
    top: 20px;
    right: 20px;
    transform-origin: 50% 50%;
    font-size: 20px;
    background: none;
    border: none;
}

/* Form */
.modal .modal__box .form .form-content {
    width: 80%;
}
.modal .modal__box .form .form-content .form-fields {
    height: fit-content;
}
.modal .modal__box .form .form-content .MuiButton-startIcon > :nth-of-type(1) {
    font-size: 16px;
}
