#navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 6%;
    border-bottom: 1px solid var(--border-color);
    /*position: fixed;*/
}

#navbar .logo {
    height: 45%;
}

#navbar .logo img {
    height: 100%;
}

#navbar .right-part {
    display: flex;
    gap: 50%;
}

#navbar .right-part .links {
    font-family: "JetBrains Mono", sans-serif;
    text-decoration: none;
    color: var(--blue);
    user-select: none;
}
#navbar .right-part .links:hover {
    text-decoration: underline;
}
